@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
	font-size: 2em;
	margin-bottom: 10px;
	text-align: center;
	color: #666;
}

h2 {
	font-size: 1em;
	margin-bottom: 20px;
	color: #666;
}

.btn {
	border: none;
	background-color: #262626;
}

.btn.back {
	background-color: #8c8c8c;
}

.row {
	margin-top: 30px;
}

footer {
	margin-top: 50px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: $gray-light;
	small {
		float: left;
	}
}

label {
	color: #555;
}

input, textarea, select, .uneditable-input {
	border: 1px solid $gray-light;
	width: 100%;
	margin-bottom: 20px;
}

input[type="submit"] {
	margin: 30px 30px 0 0;
	width: 10%;
}

#error_explanation {
	color: red;
	ul {
		color: red;
	}
}
